@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
	src: local('../fonts/ProximaNova/Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Light';
	src: url('../fonts/ProximaNova/ProximaNova-Light.eot');
	src: local('../fonts/ProximaNova/ProximaNova-Light'), local('ProximaNova-Light'),
		url('../fonts/ProximaNova/ProximaNova-Light.eot') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Black';
	src: url('../fonts/ProximaNova/ProximaNova-Black.eot');
	src: local('../fonts/ProximaNova/ProximaNova-Black'), local('ProximaNova-Black'),
		url('../fonts/ProximaNova/ProximaNova-Black.eot') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Black.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}